@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set height of body and html to full height */
html, body {
  height: 100%;
  background-color: #242425;
  font-family: 'Roboto Mono';
}

#editorContainer {
  display: flex;
  justify-content: space-between;
}

/* Fix position of header and footer */
header,
footer {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 50;
}

header {
  background-color: #DBB799;
  top: 0;
}

footer {
  bottom: 0;
}

h2 {
  color: #DBB799;
}

/* Set background color of body */
body {
  padding-top: 80px;
}

/* Center main content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style main content */
main h1 {
  color: #292929;
}

main p {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  color: #707070;
}

main button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-blur {
  background-color: rgb(36, 36, 36, 0.5);
}
/* Style footer */
footer {
  background-color: #DBB799;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.1);
}

footer p {
  color: #707070;
  text-align: center;
}
